.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #e6f2ff;
  border: 2px solid #ff9999;
  box-shadow: 1px 1px 5px #ff9999;
  }

.project-card img {
  display: flex;
  margin-bottom: 1vh;
  margin-top: 1vh;
  width: 100%;
  height: 40vh;
  object-fit: cover;
}

#project-title {
  font-size: 1.3em;
  margin: 1vh;
}

#project-category{
  margin-top: 1vh;
  background-color: #99ccff;
  padding: 1vh;
  border-radius: 1vh;
  font-weight: bold;
}

#project-date {
  padding-top: 1vh;
}

#card-text {
  display:flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  color: black;
  font-family: 'Quicksand', sans-serif;

}

#card-text a {
  text-decoration: none;
}

p {
  margin: 0px;
  padding-bottom: 0px;
}

