.project-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  background-color: #e6f2ff;
  border: 2px solid #ff9999;
  box-shadow: 1px 1px 5px #ff9999;
  }

.project-card img {
  align-self: center;
  display: flex;
  width: 100%;
  height: 200px;
  object-fit: cover;
}


#card-text {
  display:flex;
  flex-direction: column;
  margin: 0px;
  color: black;
  margin-left: 5px;
}

#card-text a {
  text-decoration: none;
}

p {
  margin: 0px;
  padding-bottom: 5px;
}

h4 {
  margin: 3px;
}