#nav-text {
    display: flex;
    align-items: center;
    padding: 5px;
    font-size: 1em;
    font-family: 'Raleway', sans-serif;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    height: 75px;
    background-color: #e6f2ff;
    border-bottom: 2px solid #ff9999;
}

img {
    height:75px;
    width: auto;
}

.logo-search-bar {
    display: flex;
    align-items:center;
}

a {
    padding: 5px;
}