#nav-text {
    display: flex;
    align-items: center;
    padding: 1.3em;
    font-size: 1em;
    font-family: 'Raleway', sans-serif;
}

#nav-button {
    background-color: #ff9999;
    border-radius: 4vh;
    padding: 1.2vh;
    margin: 1vw;
    color: black;
}

#nav-button:hover {
    color: black;
    background-color:#99ccff;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    height: 13vh;
    background-color: #e6f2ff;
    border-bottom: 5px solid #ff9999;
}

img {
    height:13vh;
    width: auto;
}

.logo-search-bar {
    display: flex;
    align-items:center;
}

a {
    padding: 1em;
}

#username{
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 3vh;
  }