html {
  font-family: 'Raleway', sans-serif;
}

#project-list {
  display: grid;
  justify-content: center;
  margin-top: 20px;
  grid-template-columns: 45% 45%;
  column-gap: 20px;
  grid-row-gap: 20px;
}

a {
    text-decoration: none;
}

a:hover{
    color: #ff9999;
}